@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
}

.button-search {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.button-user-menu-link {
  text-decoration: none;
  color: inherit;
}

.navigation-list {
  list-style: none;
}

.navigation-link {
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color:inherit;
  text-decoration: none;
}

.page-header {
  background-color: #ffe17f;
  width: 1160px;
  height: 300px;
  margin-left: 140px;
  margin-top: 40px;
}

.slider-product-number {
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
}

.slider-header {
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
}

.product-description {
  color: #444444;
  text-align: left;
}

.button-slaider-description {
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.slaider-product-value {
  font-size: 36px;
  line-height: 30px;
  text-align: left;
}

.slaider-product-feature {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  text-align: left;
}

.categories-products-list {
list-style: none;
text-align: left;
}

.product-item-link {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: inherit;
}

.button-services-item {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.services-header-delivery {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
}
.services-header-delivery-description {
  color: #444444;
  text-align: left;
}

.services {
  background-color: #f0f0f0;
  width: 100%;
  height: 289px;
  top: 102px;
  margin-bottom: 70px;
}

.button-delivery-block {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.delivery-block {
  background-color: #f0f0f0;
  width: 1160px;
  height: 100px;
  text-align: center;
}

.about-header {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
}

.about-paragraph {
  color: #444444;
  text-align: left;
}

.about-list-delivery {
  list-style: none;
}

.about-list-delivery-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-align: left;
}
.about-button {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.contacts-header {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
}

.contacts-paragraph {
  color: #444444;
  text-align: left;
}

.contacts-header-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  text-align: left;
}

.contacts-address {
  color: #444444;
  text-align: left;
}

.contacts-tel {
  color: #444444;
  text-align: left;
}

.contacts-header-subtitle-time {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  text-align: left;
}
.contacts-time {
  color: #444444;
  text-align: left;
}

.contacts-button {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.subscribe-newsletter-header {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
}

.subscribe-item {
  color: #444444;
  text-align: left;
}

.button-newsletter {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.subscribe-newsletter {
  background-color: #f0f0f0;
  width: 100%;
  height:421px;
}

.footer-address {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
}

.footer-services-list {
  list-style: none;
}

.footer-services-link {
  text-decoration: none;
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
}

.footer-tel {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
}

.page-footer {
background-color: #444444;
width: 100%;
height: 321px;
}

.breadcrumbs-header {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
}

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-list-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
  text-align: left;
}

.filter-group-header {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: left;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
}

.control-input {
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

.catalog-filter-button {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-group {
  width: 320px;
}

.sort-item-button {
  text-decoration: none;
  color: inherit;
}

.product-list {
  list-style: none;
}

.product-card-link {
  text-decoration: none;
}

.card-img-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  text-align: left;
}

.card-img-price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.product-card-download-button {
font-family: "Raleway",sans-serif;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
}

.product-card-download {
  border: 3px solid #E5E5E5;
  width: 760px;
  height: 55px;
}

.pagination {
  list-style: none;
  width: 760px;
  height: 71px;
  background-color: #ebebeb;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

.pagination-prev {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #444444;
}

.pagination-next {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: inherit;
}

.catalog-products-filter {
  width: 100%;
  height: 1380px;
  background-color: #f0f0f0;
}

.product-list-window {
  width: 840px;
  height: 1310px;
  background-color: #ffffff;
  padding-left: 40px;
  padding-top: 70px;
  padding-right: 40px;
  padding-bottom: 78px;
}
