@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body {
  font-family: "Rubik", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

.page-header {
  background-color: #ffe17f;
  margin-top: 40px;
  height: 300px;
}

.header-container {
  width: 1040px;
  margin: 0 auto;
  position: relative;
  bottom: 20px;
}

.img-header-logo {
  margin-bottom: 30px;
  display: block;
  width: 145px;
}

.img-header-logo:hover svg {
  opacity: 0.6;
}

.img-header-logo:active svg {
  opacity: 0.3;
}

.img-header-logo:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.header-user-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.user-menu-form-search {
  width: 517px;
  margin-right: 26px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.input-user-menu-search {
  width: 319px;
}

.navigation-icon-search {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  margin:auto 0;
}

.input-user-menu-search:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.navigation-icon {
  align-self: center;
}

.button-user-menu-item:hover {
  opacity: 0.6;
}

.button-user-menu-item:active {
  opacity: 0.3;
}

.button-user-menu-link:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.button-user-menu-input {
  width: 81px;
  margin-right: 176px;
}

.button-user-menu-compare {
  width: 105px;
  margin-right: 36px;
}

.button-user-basket {
  width: 99px;
  position: relative;
}

.navigation-icon-basket {
  margin-bottom: 3px;
}

.user-basket-number-of-products {
  position: absolute;
  background-color: white;
  font-size: 14px;
  line-height: 17px;
  padding: 2px 7px;
  border-radius: 50%;
  left: -16px;
  top: 6px;
}

.button-search {
  font-size: 16px;
  line-height: 20px;
  width: 160px;
}

.button-search:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.header-login-compare-basket {
  list-style: none;
  width: 497px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.button-user-menu-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: space-between;
}

.navigation-header {
  display: flex;
  justify-content: space-between;
}

.navigation-link-catalog {
  width: 293px;
  height: 50px;
  margin-right: 276px;
}

.link-catalog {
  display: flex;
  justify-content: space-between;
}

.navigation-catalog-button-img{
  opacity: 0.3;
}

.navigation-link-catalog:hover .navigation-catalog-button-img {
  opacity: 1;
}

.navigation-link-catalog:active .navigation-catalog-button-img {
  opacity: 1;
}

.link-catalog:focus {
  outline: none;
}

.navigation-link-catalog:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-link-services {
  margin-right: 45px;
  width: 127px;
}

.navigation-link-services:nth-child(3n) {
  margin-right: 0;
}

.navigation-link-services:hover a {
  opacity: 0.6;
}

.navigation-link-services:active a {
  opacity: 0.3;
}

.link-services:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.navigation-link {
  font-family: "Raleway", Tahoma, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  z-index: 1;
  position: relative;
}

.link-services {
  padding: 5px 0;
}

.main-container {
  flex-grow: 1;
}

.slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: -150px;
  position: relative;
}

.slider-container-image {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 150px;
}

.container-image-button {
  display: flex;
  justify-content: space-between;
  width: 530px;
  margin-left: auto;
  position: relative;
  bottom: 350px;
}

.slider-image-prev-button {
  width: 20px;
  height: 60px;
}

.slider-image-next-button {
  width: 20px;
  height: 60px;
}

.slider-image:hover svg{
  opacity: 0.6;
}

.slider-image:active svg{
  opacity: 0.3;
}

.slider-image:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.slider-product-description {
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.slider-product-number {
  font-weight: 700;
  font-size: 180px;
  color: #ffffff;
  margin: 0;
  position: relative;
  margin-left: auto;
  bottom: 68px;
  right: 50px;
}

.slider-product-description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  bottom: 59px;
}

.slider-header {
  font-family: "Raleway", Tahoma, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
  margin: 0;
  margin-bottom: 29px;
}

.product-description {
  color: #444444;
  text-align: left;
  margin: 0;
  margin-bottom: 50px;
}

.button-slider-description {
  font-family: "Raleway", Tahoma, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  position: absolute;
  left: 38px;
  top: 10px;
}

.slider-description-button-container {
  position: relative;
  width: 220px;
  height: 40px;
  margin-bottom: 40px;
}

.button-slider-description::after {
  content:"";
  position: absolute;
  width: 220px;
  height: 8px;
  top: 6px;
  left: -38px;
  background-color: #ffe17f;
  z-index: -1;
}

.slider-description-button-container:hover {
  background-color: #ffe17f;
}

.slider-description-button-container:active{
  background-color: #ffc700;
}

.button-slider-description:focus {
  outline: none;
}

.slider-description-button-container:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.slider-description-button-container:disabled {
  opacity: 0.3;
}

.slider-product-feature-value-container {
  display: flex;
  justify-content: space-between;
  width: 307px;
  margin-bottom: 108px;
}

.slider-product-feature-value-container-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 70px;
}

.slider-product-value {
  font-size: 36px;
  line-height: 30px;
  text-align: left;
  margin: 0;
}

.slider-product-feature {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  text-align: left;
  margin: 0;
}

.slider-image-pagination-container{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 76px;
  right: 542px;
  bottom: 36%;
}

.slider-image-pagination-button {
  line-height: 0;
}

.slider-image-pagination-button:hover svg {
  opacity: 0.6;
}

.slider-image-pagination-button:active svg {
  opacity: 0.3;
}

.slider-image-pagination-button:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.categories-products {
  margin-bottom: 172px;
  position: relative;
}

.categories-products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories-products-list-item {
  width: 160px;
  height: 253px;
}

.products-item-logo {
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.categories-products-list-item:hover .products-item-logo {
  background-color: #ffc700;
}

.categories-products-list-item:active {
  opacity: 0.3;
}

.product-link:focus {
  outline: none;
}

.categories-products-list-item:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.products-item-header {
  font-size: inherit;
}

.item-logo-link-monopods {
  margin-top: 43px;

}

.product-link {
  font-family: "Raleway", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: inherit;
}

.button-services-item {
  font-family: "Raleway", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.button-services-delivery-container {
  width: 280px;
  height: 40px;
  background-color: #000000;
  color: #ffe17f;
  position: relative;
}

.button-services-decorate {
  position: absolute;
  width: 319px;
  height: 7px;
  transform: rotate(90deg);
  background-color: #000000;
  left: 124px;
  top: 80px;
}

.button-services-delivery-container:hover .button-services-delivery {
  left: 40px;
}

 .button-services-delivery:focus {
  outline: none;
}

.button-services-delivery-container:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.button-services-delivery-container:focus .button-services-delivery {
  left: 40px;
}

.button-services-delivery {
  position: absolute;
  left: 20px;
  top: 10px;
}

.button-services-guarantee-container {
  position: relative;
  width: 160px;
  height: 40px;
}

.button-services-guarantee {
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 2;
}

.button-services-guarantee-decorate {
  position: absolute;
  width: 160px;
  height: 8px;
  background-color: #ffe17f;
  top: 17px;
  z-index: 1;
}

.button-services-guarantee:focus {
  outline: none;
}

.button-services-guarantee-container:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}


.button-services-credit-container {
  position: relative;
  width: 160px;
  height: 40px;
}

.button-services-credit {
  position: absolute;
  left: 35px;
  top: 10px;
  z-index: 2;
}

.button-services-credit-decorate {
  position: absolute;
  width: 160px;
  height: 8px;
  background-color: #ffe17f;
  top: 17px;
  z-index: 1;
}

.button-services-credit:focus {
  outline: none;
}

.button-services-credit-container:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.services-header-delivery {
  font-family: "Raleway", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
  margin: 0;
}

.services-header-delivery-description {
  color: #444444;
  text-align: left;
  margin: 0;
}

.header-description-logo {
  width: 694px;
  height: 174px;
  position: relative;
  bottom: 28px;
  display: flex;
  justify-content: space-between;
}

.services {
  background-color: #f0f0f0;
  width: 100%;
  height: 289px;
  top: 102px;
  margin-bottom: 70px;
}

.services-container {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.button-services {
  width: 287px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 116px;
  position: relative;
  bottom: 40px;
}

.services-header-description {
  width: 453px;
  height: 174px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.button-delivery-block {
  background-color: #f0f0f0;
  margin-bottom: 70px;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: space-between;
}

.delivery-block-logo {
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
}

.delivery-block-logo-image {
   margin: 35px 39px 34px 39px;
}

.block-logo-strong-image {
  margin: 30px 42px 30px 42px;
  opacity: 0.3;
}

.delivery-block-logo-strong {
  width: 125px;
  height: 100px;
}

.delivery-block-header {
  font-family: "Raleway", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  align-self: center;
}

.button-delivery-block:hover .delivery-block-logo{
  background-color: #ffc700;
}

.button-delivery-block:hover .block-logo-strong-image{
  opacity: 1.0;
}

.button-delivery-block:active {
  opacity: 0.3;
}

.button-delivery-block:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.about-contacts-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-us {
  width: 520px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.about-list-delivery {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
}

.contacts {
  width: 532px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.about-header {
  font-family: "Raleway", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-top: 47px;
  margin-bottom: 48px;
}

.about-header::before {
  content: "";
  position: absolute;
  width: 84px;
  height: 7px;
  background-color: #000000;
  top: 0;
}

.about-paragraph {
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
}

.about-list-delivery-item {
  position: relative;
}

.about-list-delivery-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-align: left;
  margin-left: 34px;
}

.about-list-delivery-link:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.about-list-delivery-decorate {
  position: absolute;
  top:10px;
  left: 4px;
}

.about-button {
  font-family: "Raleway", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  position: absolute;
  left: 20px;
  top: 10px;
}

.about-button-container {
  width: 270px;
  height: 40px;
  position: relative;
}

.about-button::after {
  content: "";
  position: absolute;
  width: 270px;
  height: 8px;
  background-color: #ffe17f;
  left: -20px;
  top: 7px;
  z-index: -1;
}

.about-button-container:hover {
  background-color: #ffe17f;
}

.about-button-container:active {
  background-color: #ffc700;
}

.about-button:focus {
  outline: none;
}

.about-button-container:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.about-button-container:disabled {
  opacity: 0.3;
}

.contacts-header {
  font-family: "Raleway", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-top: 47px;
  margin-bottom: 48px;
}

.contacts-header::before {
  content: "";
  position: absolute;
  width: 84px;
  height: 7px;
  background-color: #000000;
  top: 0;
}

.contacts-paragraph {
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
}

.contacts-header-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-address {
  color: #444444;
  margin: 0;
}

.contacts-tel {
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
  width: 151px;
}

.contacts-tel:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.contacts-header-subtitle-time {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-time {
  color: #444444;
  margin: 0;
}

.time-weekends {
  margin-bottom: 30px;
}

.contacts-button {
  font-family: "Raleway", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  position: absolute;
  left: 35px;
  top: 10px;
}

.contacts-button-container {
  position: relative;
  width: 260px;
  height: 40px;
}

.contacts-button::after {
  content: "";
  position: absolute;
  background-color: #ffe17f;
  width: 260px;
  height: 8px;
  left: -35px;
  top: 7px;
  z-index: -1;
}

.contacts-button-container:hover {
  background-color: #ffe17f;
}

.contacts-button-container:active {
  background-color: #ffc700;
}

.contacts-button:focus {
  outline: none;
}

.contacts-button-container:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.contacts-button-container:disabled {
  opacity: 0.3;
}

.subscribe-newsletter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newsletter-header-paragraph {
  display: flex;
  justify-content: space-between;
}

.subscribe-newsletter {
  margin-top: 20px;
}

.newsletter-paragraph {
  width: 560px;
  margin: 0;
  margin-top: 74px;
  margin-bottom: 144px;
}

.newsletter-email-chek {
  display: flex;
  justify-content: space-between;
}

.newsletter-form {
  width: 815px;
  margin-bottom: 56px;
  margin-right: 188px;
}

.newsletter-chek-logo {
  margin-top: 25px;
  margin-right: auto;
}

.newsletter-chek {
  width: 128px;
  margin-bottom: 70px;
}

.subscribe-newsletter-header {
  font-family: "Raleway", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  width: 348px;
  margin: 0;
  margin-top: 64px;
  margin-right: 252px;
  margin-bottom: 144px;
}

.subscribe-item {
  color: #444444;
  text-align: left;
}

.button-newsletter {
  font-family: "Raleway", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 253px;
  height: 57px;
}

.button-newsletter:focus-visible{
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.newsletter-form-field {
  width: 557px;
  height: 55px;
  padding: 0;
  border-width: 0;
}

.newsletter-form-field:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.subscribe-newsletter {
  background-color: #f0f0f0;
  width: 100%;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-logo-address {
  width: 239px;
  height: 182px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 62px;
  margin-bottom: 77px;
  position: relative;
}

.img-header-footer {
  margin-bottom: 35px;
  width: 145px;
}

.img-header-footer:hover svg {
  opacity: 0.6;
}

.img-header-footer:active svg {
  opacity: 0.3;
}

.img-header-footer:focus-visible {
  box-shadow: inset 0 0 0 2px #af4fff;
  outline: none;
}

.footer-services-social {
  width: 444px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 137px;
  margin-bottom: 61px;
}

.footer-social {
  margin: 0 auto;
}

.footer-social-list {
  width: 150px;
  height: 40px;
}

.button-social-list-container {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-list-item:hover div {
  background-color: #ffc700;
}

.footer-social-list-item:active svg {
  opacity: 0.3;
}

.button-social-list:focus{
  outline: none;
}

.footer-social-list-item:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
}

.footer-services-list, .footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tel-logo-html {
  width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 140px;
  margin-bottom: 65px;
}

.button-logo-html {
  margin-left: 60px;
  height: 35px;
}

.logo-html-image {
  fill: #ffc700;
}

.button-logo-html:hover svg{
 fill: white;
}

.button-logo-html:active svg{
  opacity: 0.3;
 }

 .button-logo-html:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
 }

.footer-address {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
  margin: 0;
}

.footer-address::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  bottom: 0;
  left: 0;
}

.footer-services-list, .footer-social-list  {
  list-style: none;
}

.footer-services-link {
  font-family: "Raleway", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
  text-decoration: none;
}

.footer-services-list-item:hover a {
  color: #ffc700;
}

.footer-services-list-item:active a {
  opacity: 0.3;
}

.footer-services-link:focus-visible {
  box-shadow:  0 0 0 2px #af4fff;
  outline: none;
}

.footer-tel {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
}

.footer-tel:hover {
  color: #ffc700;
}

.footer-tel:active {
  opacity:0.3;
}

.footer-tel:focus-visible {
  box-shadow:  0 0 0 2px #af4fff;
  outline: none;
}

.page-footer {
  background-color: #444444;
  width: 100%;
}

.button-user-menu-login {
  width: 146px;
  margin-right: 28px;
}

.button-user-menu-output {
  width: 56px;
  opacity: 0.3;
  margin-right: 27px;
}

.header-catalog {
  height: 186px;
}

.breadcrumbs {
  width: 1079px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 34px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.breadcrumbs-header {
  font-family: "Raleway", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 429px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.breadcrumbs-list-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
  text-align: left;
}

.filter-group-header {
  font-family: "Raleway", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.filter-group-header-sorting {
  margin: 0;
  margin-top: 13px;
  margin-left: 40px;
  margin-right: 206px;
}

.catalog-filter-group {
  margin-bottom: 35px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
}

.control-input {
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

.select-control {
  margin-right: auto;
  width: 141px;
  height: 30px;
  margin-top: 6px;
}

.catalog-filter-button {
  font-family: "Raleway", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 220px;
  height: 40px;
}

.products-filter-sorting-container {
  display: flex;
  justify-content: flex-end;
  width: 1160px;
  margin: 0 auto;
}

.sorting-header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
  margin-bottom: 26px;
}

.sort-item-button {
  text-decoration: none;
  color: inherit;
}

.filter-container {
  width: 320px;
  padding: 25px 40px 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sorting-container {
  width: 840px;
}

.product-list, .catalog-filter-list, .catalog-filter-list, .pagination-number{
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  row-gap: 44px;
  column-gap: 40px;
  margin-bottom: 44px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 452px;
}

.product-card-link {
  text-decoration: none;
}

.card-img-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 0;
}

.product-card-img {
  margin-bottom: 6px;
}

.product-card-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-img-price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  display: inline;
}

.product-card-download-button {
  font-family: "Raleway", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.product-card-download {
  border: 3px solid #E5E5E5;
  width: 755px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 44px;
}

.pagination-number {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.pagination-container {
  background-color: #ebebeb;
  width: 761px;
  height: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

.pagination-prev {
  font-family: "Raleway", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #444444;
  padding: 25px 25px;
}

.pagination-next {
  font-family: "Raleway", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: inherit;
  padding: 25px 25px;
}

.catalog-products-filter {
 background-color: #f0f0f0;
}

.product-list-window {
  width: 760px;
  background-color: #ffffff;
  padding-left: 40px;
  padding-top: 70px;
  padding-right: 40px;
  padding-bottom: 78px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
